fastapi[standard]==0.115.12
psycopg[binary]==3.2.9
SQLAlchemy==2.0.41
fastapi-users[sqlalchemy]==14.0.1
sqlmodel==0.0.24
asyncpg==0.30.0
pydantic-settings==2.9.1
pytest==8.4.0
pytest-asyncio==1.0.0
asgi-lifespan==2.1.0
